header {
    background-color: #605f5f;
    justify-content: flex-start;
    height: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.header-picture{
    height: 5em;
}

.header-logo {
    margin-top: 20px;
    width: 10%;
    margin-left: 40px;

}
.header-logo img {
    width: 175px;
}

.navbar {
    width: 60%;
}

.search-field {
    width: 40%;
}

.form-field {
    margin: 25px 0 10px 10px;
    align-items: center;
}

.form-field button {
    height: 50px;
    width: 55px;
    margin-right: -5px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 5px 3px 0px rgb(93, 91, 90);
}

input[type="text"] {
    height: 48px;
    width: 80%;
    outline: none;
    border: none;
    box-shadow: 1px 5px 3px 0px rgb(93, 91, 90);
}

.font{
    color: white;
    font-weight: bold;
    list-style: none;
}

.header-list{
    margin-left: 20px;
    padding-top: 20px;
}

.header-list a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    
}

.header-cat {
    height: 40px;
    width: 80px;
}

.header-button{
    width: 150px;
    height: 40px;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg');
    background-repeat: no-repeat;
    height: 48px;
    outline: none;
    border: transparent;
    margin-top: -50px;
    color: white;
    background-color: rgb(177, 176, 177);
    background-size: 35px;
    border-radius: 10px;
    background-position: 90% 60%;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left; 
    padding-left: 20px;
    box-shadow: 1px 5px 3px 0px rgb(93, 91, 90);
}

.search-text {
    font-size: 1.5em;
    font-weight: 500;
    color: #7d7d7d;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.fas {
    color: rgb(168, 167, 166);
    
}

.latest-article{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0;
}

.top-article {
    float: left;
    width: 50%;
    height: 700px;
    margin: 0;
}

.top1 {
    background-color: #848484;
}
.top2 {
    background-color: #cecece;
}
.top3 {
    background-color: #777;
}
.top4 {
    background-color: #848484;
}
.headline {
    position: absolute;
    top: 120px;
    width: 40%;
    /*font-size: 2em;*/
    text-align: center;
    /*font-weight: 800;
    letter-spacing: -1px;*/
    z-index: 11;
    height: 150px;
    margin-left: 30%;
    margin-right: 30%;
}
.headline-background {
    height: inherit;
    width: auto;
    background: #000;
    opacity: 0.5;
}

.headline-background > span > h1 {
    color: #fff;
    opacity: 1;
    font-weight: 900;
    font-family: 'Cairo', sans-serif;
    font-size: 2.5em;
    line-height: 1.8em;
}

.author {
    display: flex;
}

.model {
    background: #000;
    opacity: 0.5;
    color: #fff;
}

.head-article,
.head-article-left {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    
}

.head-article {
    float: right;
    margin-right: 50px;
    border: 1px solid blue;
}
.head-article-left {
    float: left;
    margin-left: 50px;
    border: 1px solid blue;
}

.article-title, 
.author,
.hashtag,
.next-arrow {
    width: 80%;
    margin: 0 auto;
    /* background-color: darkmagenta; */
}

.author {
    height: 80px;
    margin-top: 190px;
    display: flex;
}
.author-photo{
    background-color: black;
}

.author-photo img {
    width: 80px;
}

.author-name {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.author-name span {
    font-style: italic;
}

.article-title {
    height: 200px;
    margin-top: 20px;
}

.article-title p {
    padding-top: 10px;
    padding-left: 50px;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Cairo', sans-serif;
}

.comment, .comment span{
    padding-left: 20px;
}

.hashtag {
    height: 80px;
    margin-top: 3px;
    font-family: 'Nunito', sans-serif;
    align-items: center;
}

.next-arrow {
    margin-top: 75px;

}

.next-arrow a i {
    size: 7px;
    color: #fff;

}

.comment span {
    font-family: 'Cormorant Upright', serif;
    font-size: x-large;
    font-weight: 500;
}

/* .transparency {
    height: 200px;
    width: 90px;
    background: #000;
    opacity: 0.5;
} */

.hash1, .hash2, .hash3{
    margin-top: 20px;
    margin-left: 50px;
}

.hash {
    color: #fff;
}

.hash-text {
    font-weight: 900;
}

.hash-number {
    font-weight: lighter;
    font-size: x-small;
    align-self: flex-start;
}