header {
    background-color: #ef8d32;
    justify-content: flex-start;
    height: 100px;
}

.flex-row {
    display: flex;

}

.header-picture{
    height: 5em;
}

.header-logo {
    margin-top: 20px;
    width: 10%;
    margin-left: 40px;

}
.header-logo img {
    width: 175px;
}

.navbar {
    width: 60%;
}

.search-field {
    width: 40%;
}

.form-field {
    margin: 25px 0 10px 10px;
    align-items: center;
}

.form-field button {
    height: 50px;
    width: 55px;
    margin-right: -5px;
    outline: none;
    border: none;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 5px 3px 0px rgb(104, 60, 21);
}

input[type="text"] {
    height: 48px;
    width: 80%;
    outline: none;
    border: none;
    box-shadow: 1px 5px 3px 0px rgb(104, 60, 21);
}

.font{
    color: white;
    font-weight: bold;
    list-style: none;
}

.header-list{
    margin-left: 20px;
    padding-top: 20px;
}

.header-list a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    
}

.header-cat {
    height: 40px;
    width: 80px;
}

.header-button{
    width: 150px;
    height: 40px;
    background-image: url('https://d33wubrfki0l68.cloudfront.net/e3f5fe5fb4ec15257cc4137f13a0d5081b4ea5f8/aca41/images/icons/menu-cat.svg');
    background-repeat: no-repeat;
    height: 48px;
    outline: none;
    border: transparent;
    margin-top: -50px;
    color: white;
    background-color: rgb(219, 126, 0);
    background-size: 35px;
    border-radius: 10px;
    background-position: 90% 60%;
    font-size: 1.2em;
    font-weight: 500;
    text-align: left; 
    padding-left: 20px;
    box-shadow: 1px 5px 3px 0px rgb(104, 60, 21);
}

.search-text {
    font-size: 1.5em;
    font-weight: 500;
    color: #7d7d7d;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.fas {
    color: #ef8d32;
    
}

.latest-article{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0;
}

.top-article {
    float: left;
    width: 50%;
    height: 700px;
    margin: 0;
}

.top1 {
    background-color: #e28227;
}
.top2 {
    background-color: #ee7a0e;
}
.top3 {
    background-color: #ee7a0e;
}
.top4 {
    background-color: #e28227;
}
.headline {
    position: absolute;
    left: 22.5%;
    top: 50px;
    width: 700px;
    font-size: 2em;
    text-align: center;
    font-weight: 800;
    padding: 20px;
    letter-spacing: -1px;
    z-index: 11;
}
.headline h1 > span {
    background: #fff;
    color: #000;
}

.author {
    display: flex;
}